<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编辑物料存储</title>
    <link rel="stylesheet" href="/component/pear/css/pear.css" />

</head>

<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" lay-filter="material-form" action="javascript:void(0);">
                <div class="layui-form-item">
                    <label class="layui-form-label">物料名称:</label>
                    <div class="layui-input-block">
                        <select id="materialId" name="materialId" lay-search></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">托盘:</label>
                    <div class="layui-input-block">
                        <select id="trayId" name="trayId" lay-search></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">最大存储量:</label>
                    <div class="layui-input-block">
                        <input type="number" placeholder="最大存储量" name="max_Count" class="layui-input"
                            lay-verify="required|number" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">警戒存储量:</label>
                    <div class="layui-input-block">
                        <input type="number" placeholder="警戒存储量" name="warning_Count" class="layui-input"
                            lay-verify="required|number" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="pear-btn pear-btn-success" lay-submit lay-filter="formSubmit">
                            &emsp;确认保存&emsp;
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/component/layui/layui.js"></script>
    <script src="/component/pear/pear.js"></script>
    <script>
        layui.use(['form', 'element', 'common', 'apis'], function () {
            var $ = layui.$,
                form = layui.form,
                common = layui.common,
                apis = layui.apis,
                laydate = layui.laydate,
                layer = layui.layer;

            //加载物料
            common.get(null, apis.GetMaterialList, function (res) {
                layui.each(res, function (i, item) {
                    $("#materialId").append(new Option(item.name + "_" + item.code + "_" + item.spec + "_" + item.grade, item.id));
                });
            });
            //加载托盘
            common.get(null, apis.GetTrayList, function (res) {
                layui.each(res, function (i, item) {
                    $("#trayId").append(new Option(item.name, item.id));
                });
            });

            var materialStorageId = common.GetQueryString("materialStorageId");
            var model;
            common.get({ id: materialStorageId }, apis.GetMaterialStorageModel, function (res) {
                console.log(res);
                model = res;
                form.val("material-form", model);
            });

            form.render('select');
            //表单提交
            form.on("submit(formSubmit)", function (data) {
                var formMaterial = form.val("material-form");
                model = $.extend(model, formMaterial);
                common.post(model, apis.UpdateMaterialStorage, null, function (res) {
                    layer.msg('保存成功', {
                        icon: 1, time: 2000, end: function () {
                            parent.layer.closeAll();
                        }
                    });
                });
            });
        })
    </script>
</body>

</html>