<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>功能模块</title>
    <link rel="stylesheet" href="/component/pear/css/pear.css" />
</head>

<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">货柜名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="wms-query">
                            <i class="layui-icon layui-icon-search"></i>
                            查询
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="wms-table" lay-filter="wms-table"></table>
        </div>
    </div>

    <script type="text/html" id="wms-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
		        <i class="layui-icon layui-icon-add-1"></i>
		        新增
		    </button>
		    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
		        <i class="layui-icon layui-icon-delete"></i>
		        删除
		    </button>
		</script>

    <script type="text/html" id="wms-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
		    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>

    <script src="/component/layui/layui.js"></script>
    <script src="/component/pear/pear.js"></script>
    <script src="/component/lodop/LodopFuncs.js"></script>
    <script>
        layui.use(['table', 'form', 'jquery', 'common', 'apis'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let apis = layui.apis;
            let layer = layui.layer;
            let MODULE_PATH = "";

            let cols = [
                [{
                    type: 'checkbox'
                },
                {
                    title: '货柜名称',
                    field: 'containerName',
                    width: '200',
                    align: 'center'
                },
                {
                    title: '是否有扫描模块',
                    align: 'center',
                    width: '200',
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasScanningModule' value='" + d.id + "' lay-filter='ifHasScanningModule' lay-skin='switch' lay-text='是|否' " + (d.ifHasScanningModule ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '是否有人脸认证模块',
                    width: '200',
                    align: 'center',
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasFaceRecognition' value='" + d.id + "' lay-filter='ifHasFaceRecognition' lay-skin='switch' lay-text='是|否' " + (d.ifHasFaceRecognition ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '是否有指纹认证模块',
                    width: '200',
                    field: 'grade',
                    align: 'center',
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasFingerPrintRecognition' value='" + d.id + "' lay-filter='ifHasFingerPrintRecognition' lay-skin='switch' lay-text='是|否' " + (d.ifHasFingerPrintRecognition ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '是否有ID识别模块',
                    width: '200',
                    field: 'unit',
                    align: 'center',
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasIdentification' value='" + d.id + "' lay-filter='ifHasIdentification' lay-skin='switch' lay-text='是|否' " + (d.ifHasIdentification ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '是否有称重模块',
                    width: '200',
                    field: 'barCode',
                    align: 'center',
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasWeighingModule' value='" + d.id + "' lay-filter='ifHasWeighingModule' lay-skin='switch' lay-text='是|否' " + (d.ifHasWeighingModule ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '是否有库位指示模块',
                    width: '200',
                    field: 'barCode',
                    align: 'center',
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasLocationIndication' value='" + d.id + "' lay-filter='ifHasLocationIndication' lay-skin='switch' lay-text='是|否' " + (d.ifHasLocationIndication ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '是否有RFID模块',
                    width: '200',
                    field: 'barCode',
                    align: 'center',
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasRFIDModule' value='" + d.id + "' lay-filter='ifHasRFIDModule' lay-skin='switch' lay-text='是|否' " + (d.ifHasRFIDModule ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '是否有LED模块',
                    width: '200',
                    field: 'barCode',
                    align: 'center'
                    ,
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasLEDModule' value='" + d.id + "' lay-filter='ifHasLEDModule' lay-skin='switch' lay-text='是|否' " + (d.ifHasLEDModule ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '是否有邮件模块',
                    width: '200',
                    field: 'barCode',
                    align: 'center',
                    templet: function (d) {
                        var html = "<input type='checkbox' name='ifHasEmailModule' value='" + d.id + "' lay-filter='ifHasEmailModule' lay-skin='switch' lay-text='是|否' " + (d.ifHasEmailModule ? 'checked' : '') + " />";
                        return html;
                    }
                },
                {
                    title: '操作',
                    toolbar: '#wms-bar',
                    fixed: 'right',
                    align: 'center',
                    width: 150
                }
                ]
            ]

            var wms_table = table.render({
                elem: '#wms-table',
                url: apis.GetContainerFunctionModuleList,
                page: true,
                cols: cols,
                skin: 'line',
                toolbar: '#wms-toolbar',
                defaultToolbar: [],
                request: {
                    pageName: 'pageIndex',//页码的参数名称，默认：page
                    limitName: 'pageSize' //每页数据量的参数名，默认：limit
                },
                response: {
                    statusCode: "200"
                },
            });

            form.on('switch(user-enable)', function (obj) {
                layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
            });
            table.on('toolbar(wms-table)', function (obj) {
                if (obj.event === 'add') {
                    window.add();
                } else if (obj.event === 'refresh') {
                    window.refresh();
                } else if (obj.event === 'batchRemove') {
                    window.batchRemove(obj);
                }
            });
            table.on('tool(wms-table)', function (obj) {
                if (obj.event === 'edit') {
                    window.edit(obj);
                }
                else if (obj.event === 'remove') {
                    window.remove(obj);
                }
            });
            window.add = function () {
                layer.open({
                    type: 2,
                    title: '新增',
                    shade: 0.1,
                    area: [common.isModile() ? '100%' : '800px', common.isModile() ? '100%' : '500px'],
                    content: MODULE_PATH + 'add.html',
                    end: function () {
                        window.refresh();
                    }
                });
            }

            window.edit = function (obj) {
                layer.open({
                    type: 2,
                    title: '修改',
                    shade: 0.1,
                    area: [common.isModile() ? '100%' : '800px', common.isModile() ? '100%' : '500px'],
                    content: MODULE_PATH + 'edit.html?key=' + obj.data["containerKey"],
                    end: function () {
                        window.refresh();
                    }
                });
            }

            window.remove = function (obj) {
                layer.confirm('确定要删除该信息', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    common.post(function (res) {
                        layer.close(loading);
                        layer.msg("删除成功！", { icon: 1, time: 2000, end: function () { window.refresh(); } });
                    }, apis.DeleteContainerFunctionModule, { ids: obj.data["id"] });
                });
            };

            window.batchRemove = function (obj) {

                var checkIds = common.checkField(obj, 'id');

                if (checkIds === "") {
                    layer.msg("未选中数据", {
                        icon: 3,
                        time: 1000
                    });
                    return false;
                }

                layer.confirm('确定要删除这些信息', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    common.post(function (res) {
                        layer.msg("删除成功！", { icon: 1, time: 2000, end: function () { window.refresh(); } });
                    }, apis.DeleteContainerFunctionModule, { ids: checkIds.toString() });
                });
            };
            window.refresh = function (param) {
                wms_table.reload({ page: { curr: 1 } });
            };
        })
    </script>
</body>

</html>