@font-face {
  font-family: "iconfont"; /* Project id 3406931 */
  src: url('iconfont.woff2?t=1653438915346') format('woff2'),
       url('iconfont.woff?t=1653438915346') format('woff'),
       url('iconfont.ttf?t=1653438915346') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocunbuju:before {
  content: "\e6b4";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-queren:before {
  content: "\e630";
}

.icon-dengchu:before {
  content: "\e62f";
}

.icon-line:before {
  content: "\e641";
}

.icon-set:before {
  content: "\e642";
}

.icon-xitongcaidan:before {
  content: "\e762";
}

.icon-xiaotuishouhuo-:before {
  content: "\e601";
}

.icon-chushizupin:before {
  content: "\e602";
}

.icon-chaijiefenzu:before {
  content: "\e603";
}

.icon-chaixiang:before {
  content: "\e604";
}

.icon-chengzhong:before {
  content: "\e605";
}

.icon-chukuchaxun:before {
  content: "\e606";
}

.icon-chuku:before {
  content: "\e607";
}

.icon-daohuoqingdian:before {
  content: "\e608";
}

.icon-kucunchaxun:before {
  content: "\e609";
}

.icon-kucun:before {
  content: "\e60a";
}

.icon-kuneijiagong:before {
  content: "\e60b";
}

.icon-mobanguanli:before {
  content: "\e60c";
}

.icon-gongju:before {
  content: "\e60d";
}

.icon-piliangyiku:before {
  content: "\e60e";
}

.icon-rukuqingdan:before {
  content: "\e60f";
}

.icon-ruku:before {
  content: "\e610";
}

.icon-tiaobochuku:before {
  content: "\e611";
}

.icon-tiaoboruku:before {
  content: "\e612";
}

.icon-tuihuochuli:before {
  content: "\e613";
}

.icon-tuihuofenlei:before {
  content: "\e614";
}

.icon-zhuangtuo:before {
  content: "\e615";
}

.icon-yiku:before {
  content: "\e616";
}

.icon-zhuangxiangfuhe:before {
  content: "\e617";
}

.icon-zhuangxiangyanzheng:before {
  content: "\e618";
}

.icon-zhuangxiang:before {
  content: "\e619";
}

.icon-buhuoshangjia:before {
  content: "\e61a";
}

.icon-jianhuoxiajia:before {
  content: "\e61b";
}

.icon-pandian:before {
  content: "\e61c";
}

.icon-shangpinfenlei:before {
  content: "\e61d";
}

.icon-SKUshibiema:before {
  content: "\e61e";
}

.icon-SNhaocaiji:before {
  content: "\e61f";
}

.icon-chukufuhe:before {
  content: "\e620";
}

.icon-cangchuyingyong:before {
  content: "\e621";
}

.icon-caituiruku:before {
  content: "\e622";
}

.icon-dabaocaiji:before {
  content: "\e623";
}

.icon-kuacangyiku:before {
  content: "\e624";
}

.icon-lihuoshangjia:before {
  content: "\e625";
}

.icon-ercifenjian:before {
  content: "\e626";
}

.icon-qitachuku:before {
  content: "\e627";
}

.icon-tiaomacaiji:before {
  content: "\e628";
}

.icon-shangpinmorenkuwei:before {
  content: "\e629";
}

.icon-qitaruku:before {
  content: "\e62a";
}

.icon-weixianghebing:before {
  content: "\e62b";
}

.icon-xiaotuiruku:before {
  content: "\e62c";
}

.icon-xuncangcaiji:before {
  content: "\e62d";
}

.icon-zhuangcherenwu:before {
  content: "\e62e";
}

